<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crabster.rudakov.sberschoollesson3hwk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SberSchoolLesson3HWK">
        <activity
            android:name=".ActivityByDeepLink"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="search"
                    android:scheme="yandex"
                    android:sspPrefix="/?actor3=Sylvester_Stallone&amp;actor4=Dolph_Lundgren" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ActivityBySimpleLink"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yandex.ru"
                    android:pathPrefix="/search"
                    android:scheme="https"
                    android:ssp="/?actor1=Arnold_Schwarzenegger&amp;actor2=Jean-Claude_Van_Damme" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>